html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 15px 5px;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 85%;
    min-height: 340px;
    background: linear-gradient(160deg, #8a868c 0%, #ceb8a9 100%);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2.5em;
}

.deck .card {
    height: 60px;
    width: 60px;
    background: #2c2e3f;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #845759;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #61b085;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 15px;
    text-align: center;
    width: 345px;
    margin-bottom: 15px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.modal {
  /* the default modal, when its in the background */
  display: none;
  background-image: linear-gradient(#ffffff, #8a868c);
  width: 100%;
  height: 100%;
}

.modal-content {
  text-align: center;
}

.modal-text {
  font-size: 27px;
  margin-top: 0;
  padding-top: 100px;
}

.restartButton {
  font-size: 30px;
  color: #ffffff;
  background-color: #61b085;
  border-radius: 10px;
  border-width: 0;
}

.whoa {
  height: 166.5px;
  width: 283px;
  margin: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

@media screen and (min-width: 768px) {
  .whoa {
    margin: 50px;
    width: 566px;
    height: 333px;
  }
  .modal-text {
    font-size: 50px;
  }
  .container {
    width: 768px;
  }
  .deck {
    padding: 16px 32px;
    min-height: 680px;
  }
  .deck .card {
    height: 130px;
    width: 130px;
  }
}
